PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=HWrTlLbPcf01hzWMF1jCllB1Bs0J9RuJ
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DB_NAME=